<header id="header">
    <div class="bannerImage">
      <div>
        <h1>Top places to travel</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur dolore.
        </p>
      </div>
    </div>
  </header>